*{
    background-color: #131518;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.contenedor{
    background-color: #232A34;
    /* max-width: 80%; */
    /* margin: 0 auto; */
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    height: 300px;
}

.contenedor__icono{
    background-color: #232A34;
}

.contenedor__icono img{
    background-color: #262E38;
    border-radius: 50%;
    padding: 12px 12px;
}

.contenedor__titulo{
    background-color: #232A34;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

.contenedor__contenido{
    background-color: #232A34;
    color: #969FAD;
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    margin: 15px 0;
}

.contenedor__puntaje .lista{
    background-color: #232A34;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 20px 0;
}

.contenedor__puntaje .lista__item{
    background-color: #262E38;
    border-radius: 50%;
    padding: 11px 17px;
    color: #7C8798;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

.contenedor__puntaje .lista__item:hover{
    background-color: #FC7614;
    border-radius: 50%;
    padding: 11px 17px;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.contenedor__puntaje .lista__item--presionado{
    background-color: #7C8798;
    border-radius: 50%;
    padding: 11px 17px;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

.contenedor__puntaje .lista__item--presionado:hover{
    background-color: #7C8798;
    border-radius: 50%;
    padding: 11px 17px;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.contenedor__boton{
    background-color: #232A34;
}

.contenedor__boton button{
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    border: 0;
    background-color: #FC7614;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
    margin: 10px 0 0 0;
}

.contenedor__boton button:hover{
    background-color: #FFFFFF;
    color: #FC7614;
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    border: 0;
    font-family: 'Overpass', sans-serif;
    margin: 10px 0 0 0;
    cursor: pointer;
}